body{
  background-color: burlywood;
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  padding: 0px;
}
h1, h2 {
  font-family: 'Fredoka', sans-serif;
}
.titlefortato{
  font-family: 'Fredoka', sans-serif;
}
.titlefortato{
  font-family: 'Fredoka', sans-serif;
  font-size: 22px;
  margin: 0px;
  border: 0px;
  font-weight: bold;
}
.description{
  margin-top: 0px;
  text-align: left;
  justify-content: left;
}
.buynow{
  height: 50px;
  width: 150px;
  background-color: rgb(75, 16, 16);
  color: goldenrod;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  cursor: pointer;
}
.heading{
  text-align: center;
  background-color: gray;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: black;
}
.butt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.control, .control th, .control td {
  border: 3px solid;
  border-collapse: collapse;
  width: 300px;
  margin-left: 40px;
}
.stats, .stats th{
  border: 3px solid;
  border-collapse: collapse;
  width: 800px;
  margin-top: 20px;
  margin-left: 40px;
}